.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px;
  margin-left: 200px;
  margin-top: 0;
  margin-bottom: 0;

  gap: 400px;

  &__info {
    .title {
      position: absolute;
      top: 145px;

      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 100px;

      font-size: 70px;

      letter-spacing: 2px;

      :last-child {
        width: 650px;
      }

      font-family: 'Jua-Regular';
    }

    .description {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      font-size: 20px;

      line-height: 23px;
      color: rgb(147, 147, 147);

      font-family: 'Outfit';
    }

    ul {
      transform: translate(0, 130px);
      position: absolute;
    }
  }

  &__image {
    display: flex;
    align-items: center;

    flex-direction: row-reverse;
    padding: 0;
    margin: 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;

      align-items: center;
      justify-content: center;
      gap: 10px;

      width: 200px;
      border: 0.8px #75a3c8 solid;
      padding: 13px;

      border-radius: 100px;
      font-size: 23px;

      background-color: white;

      transform: translate(200px, -30px);

      font-family: 'Outfit';

      img {
        width: 25px;
      }
    }
  }
}
