body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Jua-Regular';
  src: url(../src/fonts/Jua/Jua-Regular.ttf);
}

@font-face {
  font-family: 'Outfit';
  src: url(../src/fonts/static/Outfit-Regular.ttf);
}
